{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="http://project5/">Hédi Lannoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="http://project5/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">A propos</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="http://project5/posts/">Les projets</a></li>
                <div class="float-right justify-self-baseline">
                    <form id='fermer' name='fermer' method='post' action="/users/admin/deconnexion">
                        <input type='submit' id='soumettre' value='Se d&eacute;connecter' style='width:8em;height:2em;' />
                    </form>
                </div>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block title %}
<title>Page de validation des commentaires</title>
{% endblock %}


{% block body %}
    <div class="container col-xl-10 ">
        <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>GESTION DES ADMINS</h1>
            <hr>
        </div>
    </div>
        <br/>
        <div class="row">

            <div class="col-xl-12">
                <h3 class="text-center">Affichage des admins</h3>
                <hr>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id/th>
                        <th>Pseudo</th>
                        <th>Date d'inscription</th>
                        <th>Photo de profil</th>
                        <th>Rôle</th>
                        <th colspan="2" class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listadmin in listadmins %}
                    <tr>
                        <td style="max-width: 10em;">{{ listadmin.id }}</td>
                        <td style="max-width: 10em;">{{ listadmin.username }}</td>
                        <td style="max-width: 10em;">{{ listadmin.created_at }}</td>
                        <td style="max-width: 10em;"><img src="{{ site_link }}/public/uploads/{{ listadmin.ft_image }}" /></td>
                        <td style="max-width: 12em;">{{ listadmin.role }}</td>

                        <td class="text-center" style="max-width: 10em;">
                            <form class="form-horizontal" method="POST" action="/users/admin/management/accepted/{{ listadmin.id }}">
                            <button type="submit"  class="btn btn-success">Valider</button>
                            <input type="hidden" name="csrf_token" value="{{ management_admin_token }}"/>
                            </form>

                            <form class="form-horizontal" method="POST" action="/users/admin/management/refused/{{ listadmin.id }}">
                            <button type="submit" class="btn btn-warning">Refuser</button>
                            <input type="hidden" name="csrf_token" value="{{ management_admin_token }}"/>
                            </form>

                            <form class="form-horizontal" method="POST" action="/users/admin/management/delete/{{ listadmin.id }}">
                            <button type="submit"  class="btn btn-danger">Supprimer</button>
                            <input type="hidden" name="csrf_token" value="{{ management_admin_token }}"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}