{% extends "base.html" %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="http://project5/">Hédi Lannoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="http://project5/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">A propos</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="http://project5/posts/">Les projets</a></li>
                <div class="float-right justify-self-baseline">
                    <form id='fermer' name='fermer' method='post' action="/users/admin/deconnexion">
                        <input type='submit' id='soumettre' value='Se d&eacute;connecter' style='width:8em;height:2em;' />
                    </form>
                </div>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block title %}
<title>Page d'administration</title>
{% endblock %}


{% block body %}
    <div class="container col-xl-10 ">
        <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>GESTION DES ARTICLES</h1>
            <hr>
        </div>
    </div>
        <br/>
        <div class="row">
            <div class="col-xl-2">
                <h3 class="text-center">Enregistrer un article</h3>
                <form enctype="multipart/form-data" method="POST" action="/users/admin/article/add" class="form-group">
                    <div class="form-group">
                        <input class="form-control" type="hidden" id="id" name="id" value="{{ ligne.id }}">
                    </div>
                    <div class="form-group">
                        <label>Titre : </label>
                        <input class="form-control" type="text" name="title" placeholder="Le titre" value="{{ ligne.title }}">
                    </div>
                    <div class="form-group">
                        <label>Slug : </label>
                        <input class="form-control" type="text" name="slug" placeholder="Le slug" value="{{ ligne.slug }}">
                    </div>
                    <div class="form-group">
                        <label>Chapô : </label>
                        <input class="form-control" type="text" name="chapo" placeholder="Le chapô" value="{{ ligne.chapo }}">
                    </div>
                    <div class="form-group">
                        <label>Contenu : </label>
                        <textarea class="form-control" type="text" name="content" placeholder="Le contenu">{{ ligne.content }}</textarea>
                    </div>
                    <label><p>Image: maximum 5Mo</p> </label>
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFile" >Insérer une image</label>
                        <br>
                        <input type="file" name="img" class="custom-file-input" id="customFile">
                        <input type="hidden" name="MAX_FILE_SIZE" value="500000" title="octets par image maximum" />
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class=" btn-primary btn-block">Enregistrer</button>
                        <input  type="hidden" name="csrf_token" value="{{ article_admin_token }}">
                    </div>
                </form>
            </div>
            <div class="col-xl-8">
                <h3 class="text-center">Affichage des articles</h3>
                <hr>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Titre</th>
                        <th>Chapô</th>
                        <th>Contenu</th>
                        <th>Image</th>
                        <th>slug</th>
                        <th colspan="2" class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listarticle in listarticles %}
                    <tr>
                        <td class="text-truncate" style="max-width: 10em;">{{ listarticle.id }}</td>
                        <td class="text-truncate" style="max-width: 10em;">{{ listarticle.title }}</td>
                        <td class="text-truncate" style="max-width: 10em;">{{ listarticle.chapo }}</td>
                        <td class="text-truncate" style="max-width: 12em;">{{ listarticle.content }}</td>
                        <td><img class="w-100" src="{{ site_link }}/public/uploads/{{ listarticle.ft_image }}" /></td>
                        <td class="text-truncate" style="max-width: 10em;">{{ listarticle.slug }}</td>
                        <td class="text-center" style="max-width: 10em;">
                            <form class="form-horizontal" method="POST" action="/users/admin/article/delete/{{ listarticle.id }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                <input type="hidden" name="csrf_token" value="{{ article_admin_token }}"/>
                            </form>

                            <form class="form-horizontal" method="POST" action="/users/admin/update/{{ listarticle.id }}">
                            <button type="submit" class="btn btn-info">Modifier</button>
                                <input type="hidden" name="csrf_token" value="{{ article_admin_token }}"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}