{% extends "base.html" %}

{% block title %}
<title>{{article.slug}}</title>
{% endblock %}


{% block body %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="{{article.uim}}" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">{{article.username}}</div>
                        <div class="text-muted">{{article.role}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{article.crated_at}}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light">{{article.slug}}</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src={{article.ft_image}} alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        {{article.chapo}}
                        <br/>
                        <br/>
                        {{article.content}}
                    </section>
                </article>
                <br/>
                <br/>
                <br/>
{% endblock %}
